
@media only screen and (max-width: 991px) {
    
}   


@media only screen and (min-width: 1000px) {
    .filter-nav-sm {
        display: none;
    }
    
}










@media only screen and (max-width: 1399px) { 
    .form-field{
        width: 355px;
    }
 }

 @media only screen and (max-width: 1199px) { 
    
    .nava{
        font-size:0.9rem;
    }
    .form-field{
        width: auto;   
    }
    .info-wrapper { height: 220px;  }
 }

 @media screen and (min-width:991px) and (max-width:1100px) {
    .form-field{
        width: 350px;   
    }
 }
 @media (max-width: 991px) { 
    .form-field{
        width: 250px;
    }

    .filter-bars {
        display: inline-block;
        line-height: 33px;
        padding: 9px 36px 9px 12px;
        width: 38px;
    }
    .brandname{
        vertical-align:middle;    
    }
    .nav-item{
        padding-left: 15px;
    }

    .nav-item .category-menu {
        /* position: absolute; */
        /* top:0px; */
        /* z-index: 2; */
    }
    /* .collapse.show{
        position: absolute;
        top:100px;
        background-color: white;
        width: 90%;
        z-index: 2;
    } */
    .shopmenu{
     margin-right: 0px;
    }
    .form-field{
        width: auto;
    }
    .user-login-menu { display: flex;     }
    .info-wrapper { height: 220px;    }
    .btn-6-1{ margin-top: 5px !important;}
    /* .userloginmenu{ display: flex; } */
    .navbar-nav {  flex-direction: row;}
    /* .menutoggle{  flex-direction: row-reverse; } */
    
    /* .navbar .dropdown{  transform: translate(-8px , 66px);  } */
    /* .collapse.show{ margin-top: -38px;} */
 }

 @media (max-width: 767px) { 
    .login-form{
        margin-top: 2rem;
        padding-bottom: 20px;
    }
    .info-wrapper {
        margin-top: 3rem;
        height: 220px;
    }
    .btn-6-1{ margin-top: 0px !important;}
}
 
@media only screen and   (max-width:600px) {
    .listing-page .filter-nav, .sidebar-filter-sm {
        display: none
    }
    .filter-bars {
        display: inline-block;
        line-height: 33px;
        padding: 9px 36px 9px 12px;
        width: 38px;
    }
    .search-box-header{
        width: auto;
        position: relative;
        z-index: 1;
    }
    /* .dropdown-item{
        font-size: 0.7rem;
        word-break: break-all;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-decoration-line: 2;
    } */
    
}



@media only screen and (max-width: 575px) {
    .filter-bars {
        display: inline-block;
        line-height: 33px;
        padding: 9px 36px 9px 12px;
        width: 38px;
    }
    .footermain{
        padding-left: 25px;
    }
    .footerpayicon{
        padding-left: 20px;
    }
    .cimg{
        height:120px;
    }
    /* .form-field{
        width: auto;
    } */
    .form__button{
        margin-top: 15px;
    }
    .form__email{
        width: auto;
    }
    .rowcontent{
        margin-left: 0px;
        margin-right: 0px;
    }
    .category-section .cat-img-box{
        width: 180px;
    }
    .form-field{
        width: 210px;
    }
    .mhead{
        font-size: 1.6rem;
    }
    .makebox img{
        height: 110px;
    }
    .maktitle{
        font-size: 0.8rem;
    }
    .makeupmain img {
        height: 320px;
    }
    .form__email{
        display: flex;
        justify-content: center;
    }
    .form__button{
        display: flex;
        justify-content: center;
    }
    .search-input::placeholder{
        font-size: 1.1rem;
    }
    .info-wrapper {
        margin-top: 3rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .login-form{
        margin-top: 1rem;
    }
    .footerlogo{ width: 220px;}
    .btn-6-6 { margin-top: 5px !important; }
    .btn-6-1{ margin-top: 5px !important;}
    .subscription-section h1 { font-size: 1.5rem; }
    .navbar-nav {    display: flex !important; flex-wrap: nowrap !important;} 
    .category-list-section .category-main-sub .makeupmain h3 {  font-size: 1rem;   }
    
}


/* 
@media only screen and(min-width:575px)  and (max-width: 350px){ 
    .navbar-nav {  flex-direction: row;}
} */

@media only screen   and (max-width: 350px){ 
    .navbar-nav {    display: flex !important; flex-wrap: wrap !important;}
}